{% extends "base.html.twig" %}

{% block body %}

    {{ form_errors(renewalForm) }}

    <main class="d-flex main-default justify-content-center align-items-center">

        <div class="container-fluid">
            
            <section class="row justify-content-center">

                <div class="col-10 col-lg-8 col-xxl-6">
                    <h1 class="h3 my-3">Modification de mot de passe</h1>
                    <p class="text-default">Choisissez votre nouveau mot de passe</p>
                    {{ form_start(renewalForm) }}

                        {{ form_row(renewalForm.plainPassword) }}
                        {{ form_row(renewalForm.confirmPassword) }}

                        <button type="submit" class="btn btn-lg btn-dark my-3">Modifier</button>
                    {{ form_end(renewalForm) }}
                </div>
            </section>
        </div>
    </main>


    <div class="row mt-5">
        <div class="col-10 offset-1">
            
        </div>
    </div>
{% endblock %}



